:root { --primary: $primary; --primary-light: $primary-light; --accent: $accent; --accent-dark: $accent-dark; }

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { color: #222222; scroll-behavior: smooth; font-family: 'Overpass', sans-serif; }

body { line-height: 2; overflow-x: hidden !important; }

h1, h2, h3, h4, h5, h6 { font-family: 'Ubuntu', sans-serif; }

a { transition: color 300ms ease-out; }

a:hover, a:active, a:focus { text-decoration: none !important; }

p { line-height: 2; }

.text-center { text-align: center; }

.material-icons { transform: translateY(0.3em); font-size: 1.4rem; }

.download-btn { background-color: #29335c; padding: 10px 17px; color: #ffffff !important; border-radius: 8px; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; transition: background-color 300ms ease-out; }

.download-btn:hover, .download-btn:active, .download-btn:focus { background-color: #32417d; }

.wjbmr-btn .material-icons { font-size: 1rem; }

#back-to-top button { position: fixed; bottom: 2.5rem; right: 4rem; opacity: 0.4; z-index: 2; visibility: hidden; transition: all 0.2s ease; outline: none; cursor: pointer; font-size: 1.8em; line-height: 55px; display: inline-block; height: 55px; width: 55px; border-radius: 10%; color: #ffffff; border: none; background-color: #a7a0b3; transition: all 400ms ease; }

#back-to-top button .material-icons { transform: translateY(2px); }

#back-to-top button:hover { color: #ffffff !important; background-color: #29335c; }

#back-to-top.show button { opacity: 1; visibility: visible; }

@media screen and (max-width: 576px) { #back-to-top button { right: 0.8rem; bottom: 2.85rem; line-height: 45px; height: 45px; width: 45px; } }

#back-to-top.show button { opacity: 1; visibility: visible; }

@media screen and (max-width: 576px) { #back-to-top button { right: 1rem; bottom: 2.85rem; line-height: 45px; height: 45px; width: 45px; } }

.bg-photo { position: absolute; top: 0; height: 100px; z-index: -9; }

header { background-color: #f7e5ec; background-color: #c1ecec; background-image: url(../images/imagee.jpg); background-attachment: fixed, scroll; }

header .logo { text-decoration: none; color: #29335c; line-height: 1.2em; text-transform: uppercase; transition: all 400ms ease; line-height: 1; display: block; text-align: center; padding: 3.5em 3em 2.5em; }

header .logo img { height: 120px; display: inline-block; margin-bottom: 1.75em; }

header .logo h2 { font-size: 2.3rem; font-weight: bold; }

header .logo small { color: #e2e4a3; display: block; font-size: 1rem; margin-bottom: 1em; }

header .logo #search { display: none; text-transform: none; text-align: left; align-items: stretch; margin-top: 1.5em; line-height: 1.5; }

header .logo #search input { width: 100%; padding-top: 0.2em; padding-top: 0.2em; }

header .logo #search button { padding: 0 0.85em 0 0.6em; }

header .logo #search button .material-icons { display: none; }

header .logo.alt { padding: 3.5em 0 2.5em; max-width: 65em; margin: 0 auto; text-align: left; }

header .logo.alt section { align-items: center; flex-wrap: nowrap; width: 100%; text-align: left; }

header .logo.alt section span { display: flex; align-items: center; margin-left: 1.5em; margin-right: 2em; }

header .logo.alt section h2 { font-size: 2em; margin-left: 0.5em; float: left; display: inline; }

header .logo.alt img { height: 100px; display: inline; }

header .logo.alt h2 { font-size: 2.3rem; font-weight: bold; }

header .logo.alt small { color: #e2e4a3; display: block; font-size: 1rem; margin-bottom: 1em; }

header .logo.alt #search { display: none; text-transform: none; text-align: left; align-items: stretch; margin-top: 1.5em; line-height: 1.5; }

header .logo.alt #search input { width: 100%; padding-top: 0.2em; padding-top: 0.2em; }

header .logo.alt #search button { padding: 0 0.85em 0 0.6em; }

header .logo.alt #search button .material-icons { display: none; }

header .logo:hover { color: #29335c; }

@media screen and (max-width: 576px) { header .logo { font-size: 1rem; margin: 0; padding: 3em 1em 2em; }
  header .logo img { margin: 0 0 1.5em; height: 75px; }
  header .logo h2 { font-size: 1.4em; }
  header .logo #search { display: flex; } }

nav.navigation { display: flex; align-items: center; flex-direction: column; background-color: #29335c; z-index: 9999; transition: all 400ms ease-in-out; }

nav.navigation ul { display: flex; list-style: none; margin-top: 1.2em; flex-wrap: wrap; align-items: center; width: 65rem; padding: 0 1em; }

nav.navigation ul li a, nav.navigation ul li a:hover, nav.navigation ul li a:focus, nav.navigation ul li a:active { color: #8ec1c0; color: #fff; font-size: 0.95em; font-weight: bold; text-decoration: none; text-transform: uppercase; letter-spacing: 2px; }

nav.navigation ul li.active a, nav.navigation ul li:hover a { color: #e2e4a3; }

nav.navigation ul li + li { margin-left: 1em; }

nav.navigation ul li.large-search { margin-left: auto; }

.nav-btn { display: none; border: none; outline: none; padding: 0.25em 0.75em; background: #e2e4a3; color: #29335c; font-weight: 500; letter-spacing: 2px; text-transform: uppercase; position: static; right: 0; gap: 5px; }

.nav-btn svg { height: 25px; width: 25px; }

@media screen and (max-width: 576px) { nav.navigation { align-items: flex-end; align-items: flex-start; }
  nav.navigation button { margin-left: auto; }
  nav.navigation ul { display: none; margin: 0 auto 1em; align-items: center; flex-direction: column; transition: all 300ms ease-in; align-items: center; }
  nav.navigation ul li { opacity: 0; margin: 0.5em 0; display: inline-block; transition: opacity 300ms ease-in; transition-delay: 200ms; }
  nav.navigation ul li + li { margin-left: 0; }
  nav.navigation ul li.large-search { display: none; }
  nav.navigation ul.active { display: flex; margin: 1em auto; }
  nav.navigation ul.active li { opacity: 1; }
  nav.navigation.show ul { display: flex; flex-direction: column; width: 100%; }
  nav.navigation.show ul li { opacity: 1; }
  .nav-btn { display: inline-block; display: inline-flex; align-items: center; } }

[role="main"] { max-width: 65rem; margin: 3em auto 0; padding: 0 1em; }

[role="main"] p { margin-bottom: 2em; }

[role="main"].home-page { margin: 1em auto 0; }

#loading { height: 100vh; width: 100vw; background-color: #fff; position: fixed; z-index: 999; top: 0; display: flex; align-items: center; justify-content: center; flex-direction: column; color: #29335c; }

#loading h1 { font-size: 2.5em; letter-spacing: 4px; text-align: center; color: #32417d; font-weight: 900; }

@keyframes shine { to { background-position: 200% center; } }

#loading span { display: block; width: 0; height: 7px; border-radius: 5px; background: #032c50; display: none; }

@keyframes loading { from { width: 0; }
  to { width: calc(max(10%, 150px)); } }

.lds-ellipsis { display: inline-block; position: relative; width: 80px; height: 80px; }

.lds-ellipsis div { position: absolute; top: 33px; width: 13px; height: 13px; border-radius: 50%; background: #fed; background: #f1deca; animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) { left: 8px; animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) { left: 8px; animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) { left: 32px; animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) { left: 56px; animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 { 0% { transform: scale(0); }
  100% { transform: scale(1); } }

@keyframes lds-ellipsis3 { 0% { transform: scale(1); }
  100% { transform: scale(0); } }

@keyframes lds-ellipsis2 { 0% { transform: translate(0, 0); }
  100% { transform: translate(24px, 0); } }

.homepage strong { color: #534d41; }

.homepage h3 { color: #29335c; }

footer { color: #534d41; padding: 2em 1em; font-size: 0.85em; display: flex !important; justify-content: space-between; margin: 4em auto 0; max-width: 65rem; border-top: 15px solid #efefef; }

footer .fb_iframe_widget { margin-right: 4px; transform: translateY(4px); }

footer .facebook { padding-top: 0.5em; }

footer p { margin: 1em 0; line-height: 1.66; }

footer .softsuite { font-size: 0.9em; color: #3b7d20; font-weight: 700; display: inline-block; text-transform: uppercase; line-height: 1.2; }

footer .copyright { text-align: right; }

.landing-footer { padding: 0 3em; font-size: 0.85em; display: flex !important; justify-content: space-between; }

.landing-footer .fb_iframe_widget { margin-right: 4px; transform: translateY(0.4em); }

.landing-footer .facebook { padding-top: 0.5em; }

.landing-footer p { margin: 1em 0; }

.landing-footer .softsuite { text-align: right; line-height: 2; font-size: 0.75em; color: #ffffff; padding: 4px 8px; background-color: #50a130; }

.landing-footer .copyright { display: none; }

@media screen and (max-width: 576px) { footer { flex-direction: column; justify-content: center; align-items: center; padding: 2em 1em 2.5em; text-align: center; }
  footer p:last-child { margin-top: 1em; text-align: center; } }

[role="main"] h3, .about_page h3 { color: #29335c; margin: 1em 0 0.5em; }

[role="main"] table, .about_page table { min-width: 300px; }

[role="main"] table tr, .about_page table tr { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

[role="main"] table th, .about_page table th { display: none; }

[role="main"] table td, .about_page table td { display: block; }

[role="main"] table td:first-child, .about_page table td:first-child { padding-top: .5em; font-weight: bold; }

[role="main"] table td:last-child, .about_page table td:last-child { padding-bottom: .5em; color: #726d7a; }

[role="main"] table th, [role="main"] table td, .about_page table th, .about_page table td { text-align: left; }

@media (min-width: 576px) { [role="main"] table th, [role="main"] table td, .about_page table th, .about_page table td { display: table-cell; padding: .25em .5em; }
  [role="main"] table th:first-child, [role="main"] table td:first-child, .about_page table th:first-child, .about_page table td:first-child { padding-left: 0; font-weight: normal; }
  [role="main"] table th:last-child, [role="main"] table td:last-child, .about_page table th:last-child, .about_page table td:last-child { padding-right: 0; color: inherit; } }

[role="main"] table td em, .about_page table td em { color: #726d7a; font-size: 0.75em !important; text-transform: uppercase; }

[role="main"] table, .about_page table { margin: 1em 0 2.75em; width: 100%; }

[role="main"] table th:first-child, .about_page table th:first-child { font-weight: bold; }

[role="main"] table td, .about_page table td { padding-right: 1.5em; }

[role="main"] table td em, .about_page table td em { font-size: 00.95em; }

[role="main"] ol, [role="main"] ul, .about_page ol, .about_page ul { padding-left: 1.75em; }

.guidelines_page h3 { color: #29335c; margin: 1em 0 0.5em; }

.guidelines_page ul, .guidelines_page ol { padding-left: 20px; }

.guidelines_page li + li { margin-top: 1em; }

.guidelines_page p + ul, .guidelines_page p + ol { margin-top: -1em; }

.article_page { display: flex; width: 100%; }

.article_page article { width: 70%; margin-right: 2em; padding-right: 2em; border-right: 1px solid #e2e4a3; }

.article_page article p.abstract { text-align: justify; }

.article_page aside { width: 30%; }

.article_page aside h4:not(:first-child) { margin-top: 2.5em; }

.article_page h3 { color: #29335c; margin: 1em 0 0.5em; }

.article_page h3 small { font-size: 1rem; color: #e2e4a3; }

.article_page h4 { color: #74ccc9; margin-bottom: 0.5em; }

.article_page ul, .article_page ol { padding-left: 20px; }

.article_page .meta { font-size: 0.9em; }

.article_page .meta .item { display: inline-block; }

.article_page .meta .item + .item { margin-top: 0.4em; }

.article_page .reference { font-size: 0.8em; line-height: 1.6; text-indent: -1.5em; margin-left: 1.5em; }

@media screen and (max-width: 576px) { .article_page { flex-wrap: wrap; flex-direction: column; }
  .article_page article { width: 100%; margin-right: 0; padding-right: 0; border-right: none; }
  .article_page aside { width: 100%; margin-top: 3em; padding-top: 2.5em; border-top: 1px solid #a7a0b3; }
  .article_page aside h4:not(:first-child) { margin-top: 1.5em; }
  .article_page h1 { font-size: 2em; } }

.articles ul { padding-left: 20px; }

.archives_page { display: flex; width: 100%; }

.archives_page section { width: 70%; margin-right: 2em; padding-right: 2em; border-right: 1px solid #e2e4a3; }

.archives_page section .articles { margin-bottom: 3em; }

.archives_page aside { width: 30%; }

.archives_page aside .summary { color: #726d7a; font-size: 0.9em; line-height: 1.67; font-style: italic; }

.archives_page aside h4 { color: #74ccc9; margin-bottom: 0.5em; }

.archives_page aside h4:not(:first-child) { margin-top: 2.5em; }

.archives_page h2 { margin-bottom: 1em; }

@media screen and (max-width: 576px) { .archives_page { flex-wrap: wrap; flex-direction: column; }
  .archives_page section { width: 100%; margin-right: 0; padding-right: 0; border-right: none; }
  .archives_page aside { width: 100%; padding-top: 2.5em; border-top: 1px solid #a7a0b3; }
  .archives_page aside h4:not(:first-child) { margin-top: 1.5em; } }

.archive-list-item { line-height: 1.6; margin-bottom: 1.85em; }

.archive-list-item h5 { margin: 0; color: #534d41; display: inline; transition: all 150ms; }

.archive-list-item h5:hover { color: #29335c; text-decoration: underline; }

.tag { font-size: 0.8em; padding: 3px 4px 3px 5px; background-color: #f1f1f1; border-left: 3px solid #dedede; white-space: nowrap; }

.tag.category { font-size: 0.75em; padding: 3px 5px; border-radius: 1.5em; color: #726d7a; background-color: #e1e9f5; white-space: nowrap; text-transform: uppercase; }

.paginator { margin-top: 5em; margin-bottom: 3em; }

.paginator p { color: #29335c; font-weight: 700; font-size: 0.8em; }

.section-paginator { display: flex; flex-direction: column; }

.paginator-link { display: flex; align-items: center; border-left: 3px solid #726d7a; padding: 0.75em 1em 0.25em 1.5em; color: #726d7a; transition: all 350ms ease-out; margin-bottom: 0.5em; background-color: transparent; }

.paginator-link h5 { margin: 0; margin-bottom: 0em; }

.paginator-link p { font-size: 0.9em; line-height: 1.25; margin: 0.5em 0; }

.paginator-link:hover { color: #534d41; border-color: #32417d; background-color: #e9f1f8; }

.keyword { font-size: 8px; line-height: 1; display: inline-block; color: #a7a0b3; text-transform: uppercase; padding-right: 0.5em; }

.keyword:not(:last-child) { border-right: 1px solid #e2e4a3; margin-right: 0.25em; }

@media screen and (max-width: 576px) { .paginator-link { width: 100%; max-width: 100%; margin: 0.2em 0; } }

.keywords-list .list-title { margin: 1em 0 0.75em; }

.keywords-list .keywords { display: flex; flex-wrap: wrap; list-style: none; justify-content: space-between; }

.keywords-list .keywords li { width: 30%; }

@media screen and (max-width: 576px) { .keywords-list .keywords li { width: 100%; } }

.taxonomy-title { color: #29335c; margin: 1em 0 0.75em; }

@media screen and (max-width: 576px) { .taxonomy-title { font-size: 2.2em; } }

.search_page #search { margin: 2em 0 0.5em; }

.search_page #search input[type="text"] { width: 50%; }

.search_page .search-term { color: #726d7a; }

#search { display: flex; margin-left: 1.5em; }

#search input[type="text"] { all: unset; outline: none; padding-left: 0.66em; background-color: #ffffff; border-radius: 0.25em 0 0 0.25em; }

#search button { border: none; outline: none; padding: 0 0.66em 0 0.6em; border-radius: 0 0.25em 0.25em 0; white-space: nowrap; color: #29335c; background-color: #8ec1c0; }

#search button:hover { color: #fff; }

.search-sm { display: none; padding: 0.4em 0.4em 1em; }

.search-sm #search input[type="text"] { width: 500px; height: 40px; }

@media screen and (max-width: 576px) { #search { margin-left: 0; }
  .search-sm { display: block; } }

#results { margin-top: 2em; padding-left: 20px; line-height: 1.67; }

#results h5 { margin: 0; color: #29335c; transition: all 250ms ease-out; }

#results h5:hover { color: #32417d; }

#results p { margin: 0; }

#results li + li { margin-top: 1.5em; }

#results small { color: #a7a0b3; }

.page404 #search { width: 100%; margin-left: 0; }

.page404 #search input[type="text"] { width: 90%; border: 1px solid #74ccc9; }

.site-description { color: #726d7a; font-size: 0.85em; line-height: 1.67; }

.meta a { color: #29335c; padding: 2px 5px; border-radius: 4px; border: 1px solid #29335c; transition: all 300ms ease-out; }

.meta a:hover, .meta a:focus { color: #8ec1c0; border: 1px solid #8ec1c0; }

.publication-category { background-color: #d4ecd9; padding: 4px 5px 0; font-size: 0.66rem; letter-spacing: 1px; text-transform: uppercase; font-weight: 500; display: inline-block; margin-bottom: 0.5em; border-radius: 2px; }

.author-list { padding-left: 20px; margin-top: 1em; }

.author-list li + li { margin-top: 0.5em; }

.author-list.other-articles { font-size: smaller; }

.author-list.other-articles li + li { margin-top: 0em; }

.banner { display: flex; align-items: center; justify-content: space-between; max-width: 65rem; margin: 0 auto; gap: 1em; padding: 2em 1em; }

.banner img { height: 60px; }

.banner h2 { text-transform: uppercase; font-family: 'Inter', sans-serif; line-height: 1; padding: 0; margin: 0; letter-spacing: 2px; color: #ffffff; }

.banner .issn { line-height: 1.5; font-weight: bold; }

.scroll-up .navigation { position: fixed; width: 100%; top: 0; transition: all 400ms ease-in-out; }

@media (max-width: 576px) { .banner { padding: 2em 1em 1em; }
  .banner img { height: 75px; }
  .banner h2 { font-size: 1.33rem; } }
/*# sourceMappingURL=main.css.map */