{{ $authorsLen := len .Params.authors }}

{{ with .Params.authors }}      
  {{ if gt $authorsLen 2 }}
      <span>   
          {{ range first (sub $authorsLen 2) . }}            
              {{ . }},
          {{ end }}
          {{ index . (sub $authorsLen 2)  }}
          {{ range last 1 . }}            
              & {{ . }}
          {{ end }}
      </span>
  {{ else if ge $authorsLen 2 }}
      <span>
          {{ range first (sub $authorsLen 1) . }}            
              {{ . }}
          {{ end }}
          {{ range last 1 . }}            
              & {{ . }}
          {{ end }}
      </span>
  {{ else }}       
    {{ range . }}            
      <span>{{ . }}</span>
    {{ end }}
  {{ end }}
{{ end }}   
  