<div id="back-to-top">
  <button><i class="material-icons">arrow_upward</i></button>
</div>
{{ partial "search-index.html" . }}
<footer>    
  <p itemscope itemtype="https://schema.org/Periodical" itemid="#periodical">    
      <span>&copy; Copyright {{ .Site.LastChange.Year }}</span> - <span itemprop="publisher">{{ .Site.Title }}.</span> All rights reserved.<br>   
      eISSN: <b itemprop="issn">2536-6645</b><br>
      pISSN: <b itemprop="issn">2384-5805</b><br>
      Developed and managed by 
      <a class="softsuite" rel="noopener" target="_blank" href="https://www.uniuyo.edu.ng/">
        SoftSuite Solutions Ltd
      </a>            
  </p> 

  <address  class="text-right">
    <p>
      <strong>Department of Orthopaedics & Traumatology,</strong> <br>
      Faculty of Clinical Sciences, College of Health Sciences, <br>
      <a href="https://www.uniuyo.edu.ng"><u>University of Uyo, Uyo, Nigeria</u></a> <br>
      <a href="mailto:wjbmr2014@gmail.com">wjbmr2014@gmail.com</a>      
      {{/*  <a href="tel:+2348023502118">(+234) 802 350 2118</a>  */}}
    </p>
  </address> 
</footer>

{{ partial "scripts.html" . }}

<script>  
  const body = document.body;
  let lastScroll = 0;

  window.addEventListener("scroll", () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll <= 0) {
      body.classList.remove("scroll-up");
      return;
    }

    if (currentScroll > lastScroll && !body.classList.contains("scroll-down")) {
      body.classList.remove("scroll-up");
      body.classList.add("scroll-down");
    } else if (
      currentScroll < lastScroll &&
      body.classList.contains("scroll-down")
    ) {
      body.classList.remove("scroll-down");
      body.classList.add("scroll-up");
    }
    lastScroll = currentScroll;
  });
</script>

</body>
</html>