{{ $newestVolume := 9 }}
{{ $newestIssue := 1 }}

{{ $recent := (((((where $.Site.RegularPages "Section" "articles").ByParam "volume").Reverse.ByParam "issue"))) }}  
{{ $recent := $recent | intersect (where .Site.RegularPages "Params.volume" $newestVolume) }} 
{{ $recent := $recent | intersect (where .Site.RegularPages "Params.issue" $newestIssue) }} 

<!-- Fix ordering -->

{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main role="main" class="homepage" >  

  {{ .Content }}

  <a href="/instructions" class="btn btn-outline btn-outline-success text-uppercase">Instruction to Authors</a>

  <h3 style="margin: 1.5em 0 1em">Current Edition <small>&mdash; Volume {{ $newestVolume}}, Number {{ $newestIssue }}</small></h3>

  {{ $recent := first 6 ($recent.ByParam "publishing.position") }}

  <div class="articles">
    <ul>
      {{ range $recent }}
      <li>
        {{ partial "article/list-item.html" . }}
      </li>
      {{ end }}
    </ul>

    <p class="ml-3 mt-5"><a href="/published" class="btn btn-secondary text-uppercase">Published articles</a></p>
  </div>


</main>

{{ partial "footer.html" . }}

</body>
</html>